{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
<h1 class="container text-info" id="view" ></h1>

{% load static %} 

<div class="form-content my-3 p-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div
          class="card shadow-lg border-0 rounded-lg mt-0 mb-3"
          style="background-color: #fed7e4"
        >
          <div
            class="card-header justify-content-center"
            style="background-color: #fe7ba7"
          >
            <h3
              class="font-weight-light my-1 text-center"
              style="color: #ffffff"
            >
              List Cancer Datas
            </h3>
            <div class="float-right">
      <a href="http://127.0.0.1:8000/knkr" class="btn btn-dark btn-sm"><b>[+] Tambah Data Kanker</b></a>
    </div>
          </div>
<div class="card-body">
  <table class="table table-dark table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th> 
      <th scope="col">Rerata Jari2 Lobus</th>
      <th scope="col">Rerata Tumor Inti</th>
      <th scope="col">Rerata Luas Lobus</th>
      <th scope="col">Rerata Luas Permukaan tumor</th>
      <th scope="col">Rerata Cekungan Kontur</th>
      <th scope="col">Rerata Jumlah Cekungan Kontur</th>
      <th scope="col">SE Jari2 Lobus</th>
      <th scope="col">SE Tekstur Permukaan</th>
      <th scope="col">SE Tumor Inti</th>
      <th scope="col">SE Luas Permukaan</th>
      <th scope="col">SE Cekungan Kontur</th>
      <th scope="col">SE Jumlah Cekungan Kontur</th>
      <th scope="col">SE Fraktal Spesimen</th>
      <th scope="col">Keparahan Jari2 Lobus</th>
      <th scope="col">Keparahan Tekstur Permukaan</th>
      <th scope="col">Keparahan Tumor Inti</th>
      <th scope="col">Keparahan Luas Lobus</th>
      <th scope="col">Keparahan Luas Permukaan Tumor</th>
      <th scope="col">Keparahan Cekungan Kontur</th>
      <th scope="col">Keparahan Jumlah Cekungan Kontur</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {% for kanker in kanker %}
    <tr>
      <th scope="row">{{ kanker.id }}</th>
      <td>{{ kanker.rerata_jari2_lobus }}</td>
      <td>{{ kanker.rerata_tumor_inti }}</td>
      <td>{{ kanker.rerata_luas_lobus }}</td>
      <td>{{ kanker.rerata_luas_permukaan_tumor }}</td>
      <td>{{ kanker.rerata_cekungan_kontur }}</td>
      <td>{{ kanker.rerata_jumlah_cekungan_kontur }}</td>
      <td>{{ kanker.se_jari2_lobus }}</td>
      <td>{{ kanker.se_tekstur_permukaan }}</td>
      <td>{{ kanker.se_tumor_inti }}</td>
      <td>{{ kanker.se_luas_permukaan_tumor }}</td>
      <td>{{ kanker.se_cekungan_kontur }}</td>
      <td>{{ kanker.se_jumlah_cekungan_kontur }}</td>
      <td>{{ kanker.se_fraktal_spesimen }}</td>
      <td>{{ kanker.keparahan_jari2_lobus }}</td>
      <td>{{ kanker.keparahan_tekstur_permukaan }}</td>
      <td>{{ kanker.keparahan_tumor_inti }}</td>
      <td>{{ kanker.keparahan_luas_lobus }}</td>
      <td>{{ kanker.keparahan_luas_permukaan_tumor }}</td>
      <td>{{ kanker.keparahan_cekungan_kontur }}</td>
      <td>{{ kanker.keparahan_jumlah_cekungan_kontur }}</td>
      <td>
          <a href="/edit/{{ kanker.id }}"><span class="btn btn-success">Edit</span></a>
          <a href="/delete/{{ kanker.id }}"><span class="btn btn-danger">Delete</span></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}