{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
<h1 class="container text-info" id="edit" ></h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-dark">
                <div class="float-left">
                    <h4 class="h4 m-0 text-light"><b>EDIT DATA</b></h4>
                </div>
                <div class="float-right">
                    <a href="http://127.0.0.1:8000/view/" class="btn btn-secondary btn-sm">Kembali</a>
                  </div>
            </div>
           
            <div class="card-body bg-gray-100">
               <h4>Silahkan edit data kanker.</h4>
                <hr>
                <form action="/update/{{kanker.id}}" class="post-form" method="POST">
                    <input type="hidden" name="id" id="id" required maxlength="20" value="{{ kanker.id }}"/>
                    {% csrf_token %}
                <div class="float-left">
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="kode_produk"><strong>Rerata Jari2 Lobus :</strong></label>
                            <div>
                            <input type="number" class="form-control" name="rerata_jari2_lobus" value="{{ kanker.rerata_jari2_lobus }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Rerata Tumor Inti : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="rerata_tumor_inti" value="{{ kanker.rerata_tumor_inti }}">
                           </div>
                        </div>
                    </div>
                     <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Rerata Luas Lobus : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="rerata_luas_lobus" value="{{ kanker.rerata_luas_lobus }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Jari2 Lobus : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_jari2_lobus" value="{{ kanker.se_jari2_lobus }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Tekstur Permukaan : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_tekstur_permukaan" value="{{ kanker.se_tekstur_permukaan }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Tumor Inti : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_tumor_inti" value="{{ kanker.se_tumor_inti }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Fraktal Spesimen : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_fraktal_spesimen" value="{{ kanker.se_fraktal_spesimen }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Jari2 Lobus : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_jari2_lobus" value="{{ kanker.keparahan_jari2_lobus }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Tekstur Permukaan : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_tekstur_permukaan" value="{{ kanker.keparahan_tekstur_permukaan }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Tumor Inti : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_tumor_inti" value="{{ kanker.keparahan_tumor_inti }}">
                           </div>
                        </div>
                    </div>
                </div>

                <!-- Bagian kiri -->
                <div class="float-right">
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Rerata Luas Permukaaan Tumor : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="rerata_luas_permukaan_tumor" value="{{ kanker.rerata_luas_permukaan_tumor }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Rerata Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="rerata_cekungan_kontur" value="{{ kanker.rerata_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Rerata Jumlah Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="rerata_jumlah_cekungan_kontur" value="{{ kanker.rerata_jumlah_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Luas Permukaan Tumor : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_luas_permukaan_tumor" value="{{ kanker.se_luas_permukaan_tumor }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_cekungan_kontur" value="{{ kanker.se_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>SE Jumlah Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="se_jumlah_cekungan_kontur" value="{{ kanker.se_jumlah_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Luas Lobus : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_luas_lobus" value="{{ kanker.keparahan_luas_lobus }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Luas Permukaan Tumor : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_luas_permukaan_tumor" value="{{ kanker.keparahan_luas_permukaan_tumor }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_cekungan_kontur" value="{{ kanker.keparahan_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-15">
                            <label for="jenis_produk"><strong>Keparahan Jumlah Cekungan Kontur : </strong></label>
                            <div>
                            <input  type="number" class="form-control"  name="keparahan_jumlah_cekungan_kontur" value="{{ kanker.keparahan_jumlah_cekungan_kontur }}">
                           </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <button type="reset" class="btn btn-danger">Batal</button>
                    </div>
                  </div>
                </form>
            </div>				
        </div>
    </div>
</div>


{% endblock content %}