{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX | HOME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script scr="{% static "vendor/jquery/jquery.js" %}" type="text/javascript"></script>
    <script scr="{% static "vendor/popper/popper.js" %}" type="text/javascript"></script>
    <script scr="{% static "vendor/bootstrap/bootstrap.js" %}" type="text/javascript"></script>
    <script scr="{% static "js/scrolling.js" %}" type="text/javascript"></script>

</head>
<body>
    <div class="container">
    {% include "navbar.html" %}
    <div class="row">
        <div class="col-md-100">
            <h1 align="center">HALAMAN PREDIKSI KANKER PAYUDARA {{href}}</h1>
        </div>

<!-- predict -->
<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5 bg-dark">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
                     <div class="sidebar-brand-icon">
                        <i class="fas fa-warehouse"></i>
                          </div> 
                              <h1 class="h4 text-light mb-4"><b>PREDIKSI KANKER PAYUDARA</b></h1>
                                <div class="sidebar-brand-text mx-3 text-light"> Silahkan inputkan tahun dalam bentuk angka </div>
							        <br>	
                                </div>
                                {% block content %}
									               <form class="user" method="POST" action="result">
                                        {% csrf_token %}
								             		<div class="form-group">
										         	<input type="float" name="Age" id="Age" class="form-control"  placeholder="Inputkan Usia" autocomplete="off" required ><br>
                               <input type="integer" name="JobLevel" id="JobLevel" class="form-control"  placeholder="Inputkan Job Level" autocomplete="off" required ><br>
                               <input type="integer" name="YearsAtCompany" id="YearsAtCompany" class="form-control"  placeholder="Inputkan Total Tahun Bekerja" autocomplete="off" required ><br>
                               <input type="integer" name="TotalWorkingYears" id="TotalWorkingYears" class="form-control"  placeholder="Inputkan Total Tahun Bekerja Di Perusahaan" autocomplete="off" required >
									           	</div>
									             	<div class="form-row">
									          	<div class="form-group col-md-12">
										<input type="submit" value="Lakukan Prediksi" class="btn btn-block bg-success text-light">
										</div>
									</div>
                   {% endblock %}
									</form>
                   {{ result }}
                    <br>
                    <div class="float-right">
                        <a href="http://127.0.0.1:8000/prediksi/dashboard/" class="btn btn-secondary btn-sm">Kembali</a>
                      </div>
								</div>
							</div>							
						</div>      
					</div>
				</div>
			</div>
		</div>
<!-- predict end -->

    </div>
    </div>

    {% include "footer.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>